body {
  margin: 0;
  padding: 0;
}

.box1 {
  background-color: #f0f0f0; /* Light gray */
}

.box2 {
  background-color: #d0d0d0; /* Medium gray */
}

.box3 {
  background-color: #b0b0b0; /* Dark gray */
}

.footer {
  background-color: #949494;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.output {
  overflow-y: auto;
  height: 100%;
}
