body {
  margin: 0;
  padding: 0;
}

.box1 {
  background-color: #f0f0f0; /* Light gray */
}

.box2 {
  background-color: #d0d0d0; /* Medium gray */
}

.box3 {
  background-color: #b0b0b0; /* Dark gray */
}

.challenges-container {
  padding-bottom: 1rem;
  overflow: auto;
}

.challenges-navigation {
  display: flex;
  margin-bottom: 1rem;
}

.footer {
  background-color: #949494;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.output {
  overflow-y: auto;
}

html,
body,
.container-fluid,
.row {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Use viewport height for full page */
}

.row {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
}

/* Editors should take full height within their column */
.col-6,
.col-10 {
  display: flex;
  flex-direction: column;
}

.CodeEditor,
.output-panel {
  flex-grow: 1;
  height: 100%;
}

.output-panel iframe {
  height: 100%;
  width: 100%;
  border: none;
}
