.vh-90 {
  height: 90vh;
}

.btn {
  background: #14afce;
  border: 1px solid black;
  color: black;
}

.btn:hover {
  background: #0e788d;
  color: black;
}
.navbar-bg {
  background-color: #212529;
}

.navbar-text {
  color: aliceblue;
}
.display-border-light {
  border: 1px solid black;
}

.footer {
  background-color: #2d3047;
  color: aliceblue;
  border: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.code-editor-container {
  position: relative;
}

.language-tab {
  position: absolute;
  top: 0;
  left: 0;
  color: #00ff55;
  padding: 4px 8px;
  border-bottom-right-radius: 0.25rem;
  z-index: 10;
  font-size: 0.875rem;
}
